# project
projectPrefix     = "demonginx"
gcpProjectId      = "myprojectid"
gcpRegion         = "us-east1"
gcpZone           = "us-east1-b"
# admin
adminSrcAddr   = ["192.168.2.1/32", "192.168.2.3/32", "192.168.4.3/32"]
gceSshPubKey   = "ssh-rsa AAAAB3NzaC1yc2EAAAA..."
# nginx
nginxKey          = "198rt9de8fu"
nginxCert         = "fdsfjsakdf"
adminAccount      = "notadmin"
adminPass         = "pleaseusevault"
adminSrcAddr      = ["192.168.1.2/32", "102.67.2.5/32"]
controllerBucket  = "my-bucket"
controllerLicense = "mylicensetext"
controllerAccount = "myemail@domain.com"
controllerPass    = "pleaseusevault"
dbPass            = "pleaseusevault"
dbUser            = "mydbuser"
# bigip
## payg
uname          = "zadmin"
usecret        = "my-demo-secret"
prefix         = "demo"
dns_suffix     = "c.<my-project>.internal"
svc_acct       = "myaccount@<myproject>.iam.gserviceaccount.com"
privateKeyId   = "abcdcba123321"
ksecret        = "svc-acct-secret"
license1       = ""
license2       = ""
## BYOL key
#license1       = "my-key"
#license2       = "my-key"
# image_name = "projects/f5-7626-networks-public/global/images/f5-bigip-15-1-0-4-0-0-6-byol-all-modules-2boot-loc-00618231635"
# big-iq license pool
## must be an IP
#bigIqHost     = "192.168.2.1"
#bigIqUsername = "zadmin"
#bigIqSecret   = "my-bigiq-secret"
#bigIqLicensePool = "my-license-Pool-name"
#bigIqLicenseType = "licensePool"
## ela
#bigIqUnitOfMeasure = "yearly"
#bigIqSkuKeyword1   = "my-license-type"
#bigIqSkuKeyword2   = ""
#bigIqLicensePool   = "my-license-pool-name"